@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Variable.woff2') format('woff2-variations');
    src: url('../fonts/NunitoSans-Variable.woff2') format('woff2') tech('variations');
    font-weight: 300 700;
}

@font-face {
    font-family: 'WorkSans-Light';
    src: url('../fonts/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../fonts/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
    color: #0E0D0D;
    background-color: #fdfdfd;
}

.container-big {
    max-width: 1820px;
    padding: 0 10px;
    margin: 0 auto;
}
.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
    
}

.hide{
    display: none !important; 
}

/* HEADER SECTION */
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-weight: 500;
}

.menu__list {
    display: flex;
    gap: 0 30px;
}

.menu__link {
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.menu__link:hover {
    cursor: pointer;
    color: #F2A531;
}

.header__contacts {
    text-transform: uppercase;
    padding: 10px 40px;
    display: inline-block;
    background-color: #0E0D0D;
    color: #FFFFFF;
    border-radius: 50px;
    transition: color 0.3s ease;
}
.header__contacts:hover {
    cursor: pointer;
    color: #F2A531;
}
.menu__btn {
    display: none;
}

/* ABOUT SECTION */

.about {
    margin-bottom: 180px;
}
.about__top {
    text-align: center;
    color: #FDFDF0;
    background-image: url('../img/about-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    text-transform: uppercase;
    min-height: 748px;
    border-radius: 30px;
    transform: scale(0.85);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}
.about__title {
    font-family: 'WorkSans-SemiBold', sans-serif;
    padding-top: 85px;
    font-weight: 600;
    font-size: 250px;
    line-height: 0.9;
    margin-bottom: 20px;
    transform: translateY(40px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;

}
.about__text {
    font-family: 'WorkSans-Medium', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.about__achievments {
    display: flex;
    justify-content: space-between;
    margin-top: -55px;
    margin-bottom: 90px;
}

.about__achievment {
    border-radius: 20px;
    background-color: #F4F4F4;
    max-width: 580px;
    padding: 14px 10px;
    display: flex;
    gap: 0 25px;
    opacity: 0;
    transition: transform 0.9s ease, opacity 0.9s ease;
}

.about__achievment:first-child {
    transform: translateX(-80px);
}

.about__achievment:last-child {
    transform: translateX(80px);
}
.about__achievment-img {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 2s ease, transform 2s ease;
}

.about__achievment-imgbox {
    min-width: 214px;
    position: relative;
}

.about__achivement-arrow {
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 5px;
    right: 0px;
}

.about__achivement-title {
    margin-bottom: 20px;
    font-weight: 500;
    padding-top: 10px;
}
.about__achivement-text {
    font-family: 'WorkSans-Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.text--bold {
    font-weight: 600;
}

.text--color {
    font-weight: 600;
    color: #F2A531;
}
.about__stats {
    border-radius: 20px;
    background-color: #F4F4F4;
    margin-bottom: 70px;
    display: flex;
    padding: 30px 18px;
    justify-content: space-between;
    gap: 90px;
}
.about__stats-item {
    text-align: center;
    width: 280px;

}
.about__stats-item dt {
    font-family: 'WorkSans-SemiBold';
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}
.about__stats-item dd {
    margin: 0;
    color: #000000;
    font-size: 22px;
    opacity: .7;
}

.about__progress-text {
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    font-family: 'WorkSans-Light';
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}
.about__progress-text span {
    font-weight: 500;
    font-family: 'WorkSans-Medium';
}
.about__progress-box {
    display: flex;
    gap: 0 140px;
}
.about__progress-img {
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 2.5s ease, transform 2.5s ease;
}
.about__progress-boxtext {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 45px;
    padding-right: 50px;
    padding-top: 10px;
    opacity: 0;
    transform: translateX(80px);
    transition: opacity 1.4s ease, transform 1.4s ease;
}
.about__progress-boxtext .text--bold {
    font-weight: 700;
}
.about__progress-tadale {
    border-top: 1px solid rgba(14, 13, 13, 0.23);
}
.about__progress-item {
    padding: 10px 0;
        display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid rgba(14, 13, 13, 0.23);
}

.about__progress-item + .about__progress-item {
    padding-top: 20px;
}

.about__progress-item dt {
    font-size: 18px;
    font-weight: 500;
    
}
.about__progress-item dt span{
    color: #F2A531;
    font-weight: 600;
    
}
.about__progress-item dd {
    opacity: 0.71;
}
.about.animate .about__top {
    transform: scale(1);
    opacity: 1;
}

.about.animate .about__title {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.4s;
}

.about.animate .about__text {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.6s;
}

.about.animate .about__achievment {
    transform: translateX(0);
    opacity: 1;
}

.about.animate .about__achievment:first-child {
    transition-delay: 0.8s;
}

.about.animate .about__achievment:last-child {
    transition-delay: 1s;
}

.about.animate .about__achievment-img {
    opacity: 1;
    transform: scale(1);
    transition-delay: 1.2s;
}

.about__progress-item dt,
.about__progress-item dd {
    opacity: 0;
    transform: translateX(80px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about__progress-item dd {
    transition-delay: 0.2s;
}

.about.animate-progress .about__progress-text {
    opacity: 1;
    transform: translateY(0);
}

.about.animate-progress .about__progress-img {
    opacity: 1;
    transform: scale(1);
}

.about.animate-progress .about__progress-boxtext {
    opacity: 1;
    transform: translateX(0);
}

.about__progress-item.show dt,
.about__progress-item.show dd {
    opacity: 1;
    transform: translateX(0);
}

/* PRODUCTS SECTION */
.products__wrapper {
    padding: 50px 0;
    background-color: #F4F4F4;
    border-radius: 20px;
}

.product__title {
    font-family: 'WorkSans-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 40;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1.4s ease, transform 1.4s ease;

}
.products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 35px;
}
.product__item {
    border-radius: 10px;
    min-height: 322px;
    margin-bottom: 12px;
    padding: 50px 24px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}
.product__item.from-top {
    transform: translateY(-60px);
}

.product__item.from-bottom {
    transform: translateY(60px);
}
.product__item:nth-child(odd) {
    color: #FFFFFF;
}
.product__item-title {
    font-family: 'WorkSans-Regular';
    font-weight: 400;
    margin-bottom: 14px;
    font-size: 32px;
}
.product__item-text {
    font-weight: 300;
}
.products__item-btn {
    position: absolute;
    bottom: -12px;
    left: -8px;
    border: none;
    background-color: transparent;
    padding: 0;
}
.products__item-btn img {
        width: 48px;
    border: 2px solid transparent;
    border-radius: 50px;

    transition:
        width 0.3s ease,
        border 0.3s ease,
        border-radius 0.3s ease;
}
.products__item-btn img:hover {
    width: 55px;
    border: 2px solid #F2A531;
    border-radius: 50px;

}

.button {
    display: inline-block;
    width: 242px;
    position: relative;

    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;

    background-color: #0E0D0D;
    border-radius: 96px;
    padding: 19px 97px 19px 38px;

}
.button__icon circle {
    fill: #ffffff;
    transition: fill 0.4s ease;
}

.button__icon path {
    stroke: #000000;
    transition: stroke 0.4s ease;
}
.button:hover .button__icon circle {
    fill: #F2A531; /* жёлтый */
}


.button__icon {
    transition: transform 0.3s ease;
}

.button:hover .button__icon {
    transform: translateX(3px);
}

.button svg {
    position: absolute;
    right: 3px;
    top: 4px;
}

.products__link {
    display: block;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    transition: color 0.6s ease;
}
.products__link:hover {
    cursor: pointer;
    color: #F2A531;
}
.products.animate-products .product__title {
    opacity: 1;
    transform: translateY(0);
}

.product__item.show {
    opacity: 1;
    transform: translateY(0);
}

.products.animate-products .products__link {
    opacity: 1;
    transform: translateY(0);
}


/* SLOGAN SECTION */

.slogan {
    text-align: center;
    text-transform: uppercase;
    padding-top: 115px;
    position: relative;
    overflow: hidden;
    padding: 120px 0;
}
.slogan .container {
    position: relative;
    z-index: 2;
}

.slogan__text {
    font-family: 'WorkSans-Medium';
    font-weight: 500;
    color: #000000;
    font-size: 40px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1.6s ease, transform 1.6s ease;
}
.slogan__title {
    font-family: 'WorkSans-Medium';
    font-weight: 600;
    color: #F2A531;
    font-size: 300px;
    line-height: 1;
    position: relative;
    z-index: 1; /* НИЖЕ картинки */
    opacity: 0;
    transform: translateY(140px);
    transition: opacity 3.2s ease, transform 3.2s ease;
}
.slogan__img {
    position: relative;
    display: block;
    margin: -130px auto 0;
    z-index: 3;
}
.slogan.animate-slogan .slogan__text {
    opacity: 1;
    transform: translateY(0);
}

.slogan.animate-slogan .slogan__title {
    opacity: 1;
    transform: translateY(0);
}

/* PARTNERS SECTION */

.partners {
    padding: 130px 0 150px;
    position: relative;
    overflow: hidden;
}

.partners__inner {
    display: flex;
    justify-content: space-between;
    gap: 0 120px;
}
.partners__info {
    max-width: 580px;
    display: flex;
    flex-direction: column;
}
.partners__info-title {
    font-family: 'WorkSans-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;

}
.partners__info-text {
    margin-top: auto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
.partners__info .button {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.partners__box-top img {
    opacity: 0;
    transition: opacity 1.4s ease;
}
.partners__box-list {
    padding-left: 24px;
    padding-bottom: 30px;
    margin-top: auto;
}

.partners__box-item + .partners__box-item {
    margin-top: 15px;
}

.partners__box-item {
    font-weight: 500;
    color: #000;
    padding-left: 39px;
    position: relative;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.partners__info-button {
    transition: color 0.6s ease;
}
.partners__info-button:hover {
    cursor: pointer;
    color: #F2A531;
}
.partners__box-item::before {
    content: '';
    position: absolute;
    left: 0;
    background-image: url(../img/products/partners-dots.svg);
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.partners__box-item  span{
    font-weight: 500;
    color: #F2A531;
}
.partners__box-top {
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4;
    border-radius: 10px;
    gap: 0 19px;
    margin-bottom: 15px;
    position: relative;
    
}

.partners__box-top::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 56px;
    background-image: url(../img/products/logo-mind.png);
    background-repeat: no-repeat;
    top: 30px;
    left: 20px;

}
.partners__box-text {
    background-color: #0D1615;
    border-radius: 10px;
    padding: 30px 80px 30px 30px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    opacity: 0;
    transform: translateX(60px);
    transition: opacity 1s ease, transform 1s ease;
}
.partners__box-text span {
    font-weight: 700;
    color: #F2A531;
}
.partners.show-title .partners__info-title {
    opacity: 1;
    transform: translateY(0);
}

.partners.show-subtitle .partners__info-text {
    opacity: 1;
    transform: translateY(0);
}

.partners.show-button .partners__info .button {
    opacity: 1;
    transform: translateY(0);
}

.partners.show-image .partners__box-top img {
    opacity: 1;
}

.partners__box-item.show {
    opacity: 1;
    transform: translateY(0);
}

.partners.show-bottom-text .partners__box-text {
    opacity: 1;
    transform: translateX(0);
}


/* BLOG SECTION */

.blog {
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;
}

.blog__wrapper {
    background-color: #F4F4F4;
    border-radius: 20px;
    padding: 100px 0;
}

.blog__title {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'WorkSans-Medium', sans-serif;
    color: #101828;
    font-weight: 500;
    font-size: 40px;
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 1s ease, transform 1s ease;
}
.blog__items {
    display: grid;
    grid-template-columns:580px auto;
    grid-template-rows: 1fr 1fr;
    gap: 32px 44px;
}
.blog__item-big {
    grid-row: 1 / -1;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
}
.blog__item-big .blog__item-img {
    opacity: 0;
    transition: opacity 1.2s ease;
}
.blog__item-big .blog__item-img {
    margin-bottom: 32px;
}
.blog__item-small {
    display: flex;
    align-items: center;
    gap: 0 24px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.9s ease, transform 0.9s ease;
} 
.blog__item-img {
    border-radius: 10px;
}
.blog__item-info {
    color: #F2A531;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}
.blog__item-titlelink {
    display: block;
    margin-bottom: 12px;
    padding-right: 30px;

}
.blog__item-title {
    font-size: 24px;
    font-weight: 600;
    font-family: 'WorkSans-Regular', sans-serif;
    color: #101828;
    position: relative;
}

.blog__item-title::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../img/blog/blod-arrow.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.blog__item-text {
    color: #667085;
    max-width: 450px;
}
.blog.animate-blog .blog__title {
    opacity: 1;
    transform: translateY(0);
}

.blog.show-big .blog__item-big {
    opacity: 1;
    transform: translateY(0);
}

.blog.show-big .blog__item-big .blog__item-img {
    opacity: 1;
}

.blog__item-small.show {
    opacity: 1;
    transform: translateY(0);
}

/* FOOTER SECTION */
.footer {
    background-color: #0E0D0D;
    padding: 100px 0;
    color: #FFFFFF;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-right: 100px;
    gap: 20px;
}

.footer__element-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer__item + .footer__item {
    padding-top: 15px;
}
.footer__item-address {
    font: normal;
}
.footer__link {
    color: #FFFFFF;
    transition: color 0.3s ease;
}
.footer__link:hover {
    cursor: pointer;
    color: #F2A531;
}
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #FFFFFF;
    font-size: 14px;
    gap: 20px;
}
/* media about section */
@media (max-width: 1600px) {
    .container-big{
        padding: 0;
    }
    .slogan__title {
        font-size: 140px;
    }
    .slogan__text {
        font-size: 26px;
    }
    .slogan__img {
    margin-top: -78px;
    }
}
@media (max-width: 1280px) {
    .about__title{
        font-size: 140px;
    }
    .about__achievments{
        gap: 20px;
    }
    .about__progress-box {
        gap: 0 20px;
    }
    .partners__inner {
        gap: 20px ;
    }
    .blog__items {
        gap: 20px;
    }
    .partners__info {
        max-width: 360px;
    }
    .blog__items {
        grid-template-columns: 380px auto;
    }
    
}
@media (max-width: 1048px) {
    .blog__items {
        grid-template-columns: 1fr;
    }
    .blog__item-titlelink {
        max-width: 500px;
    }
    .blog__item-img {
        width: 100%;
    }
}

@media (max-width: 980px) {
    .about__title{
        font-size: 100px;
    }
    .about__text {
        font-size: 24px;
    }
        .about__achievment{
        flex-wrap: wrap;   
    }
    .about__stats {
        gap: 20px;
    }
    .partners__inner {
        flex-wrap: wrap;
    }
    .partners__info {
        max-width: 100%;
    }
    .partners__box {
        max-width: 100%;
    }
    .menu__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 5;
    }
    .menu {
        order: 1;
    }
    .menu__btn-line {
    width: 100%;
    height: 3px;
    z-index: 6;
    background-color: #000;
    transition:
        transform 0.4s ease,
        opacity 0.3s ease;;

    }
    .menu__btn.active .menu__btn-line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.menu__btn.active .menu__btn-line:nth-child(2) {
    opacity: 0;
}

.menu__btn.active .menu__btn-line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
    .menu__list {
        position: absolute;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        padding: 95px 0;
        gap: 20px 0;
        top: 0;
        transform: translateY(-100%);
        transition: transform .5s ease;
        z-index: 3;
    }
    .menu__list.menu--active {
        transform: translateY(0);
    }

        .header__inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 19px;
    }

    .logo {
        order: 1;
        flex-shrink: 0;
    }

    .header__contacts {
        order: 2;
        margin-left: auto;
        white-space: nowrap;
    }

    .menu {
        order: 3;
    }
}
@media (max-width: 870px) {
    .about__progress-text {
        font-size: 28px;
    }
    .about__progress-img {
        width: 100%;
        object-fit: cover;
        height: 340px;
        
    }
    .about__progress-box {
        flex-wrap: wrap;
    }
    .about__stats {
        flex-wrap: wrap;
    }
    .products__list {
        grid-template-columns: repeat(2, 1fr);
    }
        .slogan__title {
        font-size: 64px;
    }
    .slogan__text {
        font-size: 19px;
    }
    .slogan__img {
    margin-top: -34px;
    }
    .footer__top {
        padding-right: 0;
        flex-wrap: wrap;
    }
    

}
@media (max-width: 790px) {
    .footer__top {
        flex-wrap: wrap;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 30px;
    }
    
}
@media (max-width: 678px) {
    .about__stats-item {
        width: 100%;
    }
    .blog__item-small {
        flex-wrap: wrap;
        gap: 20px;
    }
    .partners__box-text {
        padding: 20px;
    }
    .partners__box-top {
        flex-wrap: wrap;
    }
    .partners__box-top img {
        width: 100%;
    }
    .partners__box-list {
        margin-top: 120px;
    }
    .partners__info-text {
        font-size: 18px;
    }
}
@media (max-width: 560px) {
    .footer__element {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer__bottom {
        display: block;
    }
    .footer__bottom-item {
        margin-bottom: 15px;
    }
}
@media (max-width: 510px) {
    .about__achievments{
    flex-wrap: wrap;
    }
    .about__title {
        font-size: 64px;
    }
    .about__text {
        font-size: 18px;
    }
    .about__achievment-img {
        width: 100%;
    }
    .about__achievment-imgbox {
        min-width: 100%;
    }
    .about__top {
        min-height: 500px;
    }
    .about__achievments {
        margin-bottom: 30px;
    }
    .about__stats-item dt {
        font-size: 28px;
    }
    .about__stats-item dd {
        font-size: 21px;
    }
    .about__stats {
        margin-bottom: 30px;
    }
    .about__progress-text {
        font-size: 24px;
    }
    .about {
        margin-bottom: 50px;
    }
    .about__progress-item dd{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
    .products__list {
        grid-template-columns: 1fr;
    }
    .product__item-title {
        font-size: 24px;
    }
    .product__item {
    min-width: 338px;
    min-height: 181px;
        margin: 0 auto;
    }
    .product__title {
        font-size: 24px;
    }
    .slogan {
        padding-top: 30px;
    }
    .partners {
        padding: 50px 0;
    }
    .partners__info-title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .blog__wrapper {
        padding: 50px 0;
    }
    .blog__title {
        font-size: 24px;
    }
    .partners__box-list {
        padding-left: 0;
    }
    .footer {
        padding: 50px 0;
    }
        .header__inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 19px;
    }

    .logo {
        order: 1;
        flex-shrink: 0;
    }

    .header__contacts {
        order: 2;
        margin-left: auto;
        white-space: nowrap;
    }

    .menu {
        order: 3;
    }
    .header__contacts {
        margin-left: auto;
    }
    .header__contacts {
        padding: 6px 10px;
        font-size: 14px;
        border-radius: 30px;
    }
    .slogan__img {
    margin-top: -26px;
    }

}




