/* PRODUCTS SECTION */
.products__wrapper {
    padding: 50px 0;
    background-color: #F4F4F4;
    border-radius: 20px;
}

.product__title {
    font-family: 'WorkSans-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 40;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;

}
.products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 35px;
}
.product__item {
    border-radius: 10px;
    min-height: 322px;
    margin-bottom: 12px;
    padding: 50px 24px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product__item:nth-child(odd) {
    color: #FFFFFF;
}
.product__item-title {
    font-family: 'WorkSans-Regular';
    font-weight: 400;
    margin-bottom: 14px;
    font-size: 32px;
}
.product__item-text {
    font-weight: 300;
}
.products__item-btn {
    position: absolute;
    bottom: -12px;
    left: -8px;
    border: none;
    background-color: transparent;
    padding: 0;
}
.products__item-btn img {
        width: 48px;
    border: 2px solid transparent;
    border-radius: 50px;

    transition:
        width 0.3s ease,
        border 0.3s ease,
        border-radius 0.3s ease;
}
.products__item-btn img:hover {
    width: 55px;
    border: 2px solid #F2A531;
    border-radius: 50px;

}

.products__link {
    display: block;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    transition: color 0.6s ease;
}
.products__link:hover {
    cursor: pointer;
    color: #F2A531;
}

/* ===== PRODUCTS ANIMATION BASE ===== */

/* INITIAL STATES */
.product__title {
    opacity: 0;
    transform: translateY(60px);
}

.product__item {
    opacity: 0;
    transform: translateY(60px);
}

.products__link {
    opacity: 0;
    transform: translateY(40px);
}

/* ACTIVE STATES */
.animate-title {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.animate-item {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 1s ease,
        transform 1s ease;
}

.animate-link {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 1.2s ease,
        transform 1.2s ease;
}

/* ===================== */
/* MOBILE OPTIMIZATION */
/* ===================== */
@media (max-width: 768px) {
    .product__title {
        transform: translateY(40px);
    }

    .product__item {
        transform: translateY(40px);
    }
}
